* {
    box-sizing: border-box;
}

html{
    background-color: blueviolet;
}

.fm{
    background-color:aqua ;
    height: 90vh;
    width: 90vw;
    margin: 5vh 5vw 5vh 5vw;
}

.fm-header {
    border-bottom: black solid 1px;
    height: 5vh;
}

.fm-header-col {
    display: inline-block;
    min-width: 100px;
    font-weight: bold;
    line-height: 5vh;
    margin: 0 5px 0 5px;
}

.fm-header-name {

}

.fm-header-filesize {
    float: right;
}

#fm-rows {
    height: 85vh;
    overflow: auto;
}

.fm-row {
    border-bottom: solid grey 1px;
    height: 5vh;
}

.fm-row-text {
    line-height: 5vh;
    vertical-align: middle;
    font-family: sans-serif;
    margin: 0 5px 0 5px;

}

.fm-row-filesize {
    float: right;
}